<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lu.kuaichuan.wifidirect">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.lu.kuaichuan.wifidirect.activity.Myapplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lu.kuaichuan.wifidirect.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.lu.kuaichuan.wifidirect.provider.WifiDirectContentProvider"
            android:authorities="com.lu.kuaichuan.wifidirect"
            android:exported="false" />

        <activity android:name="com.lu.kuaichuan.wifidirect.activity.FtpActivity" />
        <activity android:name="com.lu.kuaichuan.wifidirect.activity.WiFiDirectActivity"/>
        <activity android:name="com.lu.kuaichuan.wifidirect.activity.DownloadActivity"/>


        <receiver
            android:name="com.lu.kuaichuan.wifidirect.fragment.WiFiDirectBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>